.photo-container-visit{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
  text-align: center;
  float: left;;
}

.user-profile-h{
  margin-top: 30px;
}

.user-profile-div{
  margin-right: 250px;
}
